@font-face {
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Regular.ttf);

    font-weight: 200;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto'

}
:root {
    --shadowColor: blue;
    --color: #fff;
    --margin-bottom: 10px;
    --border-radius: 6px;
}

body {

    height: 100vh;
    width: 960px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.board-container {
    display: grid;
    height: 70%;
    width: 30%;
    grid-template-columns: repeat(2, 0.8fr);
    grid-template-rows: 0.9fr 0.5fr 3fr 0.5fr;
    place-items: center;
    border: solid rgb(24, 168, 234) 2px;
    padding: 8px;
    border-radius: var(--border-radius);
    align-content: start;
}
#winnerDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.273);
}

:modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 35%;
    /* z-index: 10; */
    margin: 20% auto;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0.3rem 0.6rem 0.35rem#0000001c;
    background: rgba(0, 0, 0, 0.355);
}

#winnerDialog h6,
#winnerDialog p {
    color: #fff;
    font-size: .9rem;
    margin-bottom: 0.6rem;
}

#winnerDialog #close {
    color: white;
    padding: .4rem .7rem;
    width: 5rem;
    background-color: rgba(255, 255, 255, 0.473);
    border: none;
    border-radius: .3rem;
    font-size: .9rem;
}
.title {

    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: rgb(24, 168, 234);
    border-radius: var(--border-radius);
    color: var(--color);
    margin-bottom: var(--margin-bottom);
    text-align: center;
    font-size: .9rem;
    padding: .2rem;
}

.board-container .board {
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    display: grid;
    border-radius: var(--border-radius);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: none;
    gap: 2px;
    padding: 2px;
    background-color: rgb(24, 168, 234);
    margin-bottom: var(--margin-bottom);
}

.cell {
    color: #ffffffe0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: var(--border-radius);
    margin: 0.1rem;
    background-color: rgb(24, 168, 234);
    cursor: pointer;
    width: calc(100% / 1.03)
}

.header {
    width: 100%;
    height: 100%;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    


    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.7fr;

    margin-bottom: var(--margin-bottom);

}
.header .header-top input {
    width: 100%;
    border: none;
    height: 1.5rem;
    padding: 0.6rem;
    border-radius: 0.3rem;

}

.board-container .header-top {
    grid-column: 1;
    grid-row: 1 / 2;
    color: var(--color);
    width: 100%;

    display: flex;

    background-color: rgb(24, 168, 234);
    border-radius: var(--border-radius);


}

.header-top .player1 , .header-top .player2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7rem;
    padding: 0.2rem;
}



.header .header-top label {
    width: 50%;
    text-align: center;

}

.header .header-top input {
    width: 80%;
   
}



.board-container .header-bottom {
    grid-column: 1;
    grid-row: 2 / 3;
    margin-top: 12px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: blueviolet;
    border-radius: var(--border-radius);
    color: #fff;
}

.header-bottom h4 {
    width: 100%;

    display: flex;
    justify-content: center;
   
}
