@font-face {
    font-family: 'Roboto';
    src: url(Roboto/Roboto-Regular.ttf);

    font-weight: 200;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto'

}